.contact_item{
  display: flex;
  margin: 10px 0;
  padding: 0 5px;
  background-color: #333336;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
}
.contact_item:first-child{
  margin: 0 0 10px 0;
}

.contact_link{
  margin: 0 0 0 5px;
  padding: 10px 20px;
  color: #848484;

}

