.myposts{
  display: flex;
  flex-direction: column-reverse;
}
.cteate_post{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #333336;
  border-radius: 0 0 5px 5px;
}
.create_post_area{
  min-height: 25px;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0 0 5px ;
  line-height: 10px;
  color: white;
  resize: vertical;
  border-radius: 5px;
  background-color: #333336;
}
.addpost_btn{
  width: 100px;
  margin: 10px 0 5px 5%;
  color: #848484;
  background-color: #333336;
  border: 1px solid #848484;
  border-radius: 5px;
  cursor: pointer;
}
textarea::placeholder{
  color: #848484;

}
textarea::-moz-placeholder {
  color: #848484;
}